@import  "https://fonts.googleapis.com/css?family=Ubuntu:400,300,700,500";
@import  "https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700italic,700";


html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display: block;
}

audio,canvas,progress,video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],template {
	display: none;
}

a {
	background: transparent;
	color: #21759b;
	text-decoration: none;
}

a:active,a:hover {
	outline: 0;
}

a:hover {
	color: #196d93;
	text-decoration: underline;
}

a:visited {
	color: #245c79;
	text-decoration: none;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,strong {
	font-weight: 700;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: .67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,kbd,pre,samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,input,optgroup,select,textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,select {
	text-transform: none;
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: 700;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,th {
	padding: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

:before,:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #21759b url("https://seattle.wordcamp.org/2015-beginner/files/2015/07/banner-seattle1.jpg") top center no-repeat;
	color: #000000;
	font-family: 'Merriweather', serif;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 300;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.3;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
	margin-bottom: 10px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

ul li {
	list-style: square;
}

td,th {
	padding: 10px;
	border-bottom: 1px solid #bbb;
}

th {
	border-bottom: 2px solid #bbb;
}

hr {
	width: 100%;
	height: 2px;
	background: #bbb;
}

#page {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

#page:before,#page:after {
	content: " ";
	display: table;
}

#page:after {
	clear: both;
}

@media (min-width: 768px) {
	#page {
		width: 750px;
	}
}

@media (min-width: 992px) {
	#page {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	#page {
		width: 1170px;
	}
}

#masthead {
	margin-left: -15px;
	margin-right: -15px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: rgba(20,48,62,0.8);
	color: #fff;
	border-radius: 0 0 20px 20px;
}

#masthead:before,#masthead:after {
	content: " ";
	display: table;
}

#masthead:after {
	clear: both;
}

#masthead a {
	color: #fff;
}

#masthead hgroup {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 992px) {
	#masthead hgroup {
		float: left;
		width: 33.33333%;
	}
}

#masthead hgroup:before,#masthead hgroup:after {
	content: " ";
	display: table;
}

#masthead hgroup:after {
	clear: both;
}

@media (max-width: 768px) {
	#masthead hgroup {
		width: 100%;
	}
}

#masthead .site-title {
	margin: 0;
	display: block;
	clear: none;
}

#masthead .site-title a,#masthead .site-description {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
	float: left;
	display: block;
	clear: none;
	margin: 0;
}

#masthead .site-title a {
	background: url("https://seattle.wordcamp.org/2015-beginner/files/2015/08/title.png") center center no-repeat;
	width: 145px;
	height: 66px;
	margin-right: 50px;
}

@media (min-width: 992px) {
	#masthead .site-title a {
		margin-right: 20px;
	}
}

#masthead .site-description {
	background: url("https://seattle.wordcamp.org/2015-beginner/files/2015/08/description.png") center center no-repeat;
	width: 130px;
	height: 64px;
}

.main-navigation {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	clear: none;
}

@media (min-width: 992px) {
	.main-navigation {
		float: left;
		width: 66.66667%;
	}
}

@media (max-width: 768px) {
	.main-navigation {
		width: 100%;
	}

}

.main-navigation ul {
	margin: 0;
	padding: 0;
	float: right;
}

@media (max-width: 768px) {
	.main-navigation ul {
		float: none;
	}
}

.main-navigation ul ul {
	background: none repeat scroll 0 0 #14303E;
	border-bottom: 1px solid #335ea4;
	border-image: none;
	border-left: 1px solid #335ea4;
	border-radius: 0;
	border-right: 1px solid #335ea4;
	border-top: medium none !important;
}
/*}*/

.main-navigation li {
	list-style: none;
	float: left;
	padding: 0;
	margin: 22px 12px;
}

/* Tickets */
#menu-item-1589 {
	border-bottom: 2px solid white;
}

@media (max-width: 768px) {
	.main-navigation li {
		margin: 25px 15px 0 0;
	}
}


.main-navigation a {
	color: #fff;
	display: block;
	text-transform: uppercase;
}

.main-small-navigation {
	text-align: center;
}

.main-small-navigation h1 {
	font-size: 20px;
	margin-top: 40px;
}

.main-small-navigation ul {
	margin: 0;
	padding: 0;
}

.main-small-navigation li {
	list-style: none;
	padding: 10px;
	margin: 0;
}

.main-small-navigation a {
	display: block;
}

#main {
	margin-left: -15px;
	margin-right: -15px;
	background: #e5e5e5;
	padding: 40px 60px;
	border-radius: 20px;
}

#main:before,#main:after {
	content: " ";
	display: table;
}

#main:after {
	clear: both;
}

@media (max-width: 991px) {
	#main {
		padding: 20px 10px;
	}
}

#primary {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 992px) {
	#primary {
		float: left;
		width: 75%;
	}
}

#secondary {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 992px) {
	#secondary {
		float: left;
		width: 25%;
	}
}

@media (max-width: 991px) {
	#secondary {
		padding-top: 60px;
	}
}

.entry-title {
	font-size: 36px;
	font-weight: 500;
	margin-top: 0;
	padding-top: 0;
	text-transform: uppercase;
}

.post .entry-title {
	margin-bottom: 0;
}

.entry-title a {
	color: #14303E;
	text-decoration: none;
}

.entry-title a:hover {
	color: #21759b;
}

.entry-meta {
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	font-size: small;
	letter-spacing: 50%;
}

.text-center {
	display: block;
	text-align: center;
}

.hentry + .hentry {
	margin-top: 10px;
	padding-top: 20px;
	border-top: 1px solid #ddd;
}

#logo-widget {
	text-align: center;
	width: 100%;
}

.widget-title {
	font-size: 21px;
	font-weight: 700;
}

#after-header-widgets {
	margin-left: -15px;
	margin-right: -15px;
}

#after-header-widgets #text-3 {
	margin: 0;
}

#after-header-widgets:before,#after-header-widgets:after {
	content: " ";
	display: table;
}

#after-header-widgets:after {
	clear: both;
}

#after-header-widgets strong {
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
}

#after-header-widgets .item {
	padding-top: 10px;
	padding-bottom: 10px;
}

#text-2,#text-3 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 992px) {
	#text-2,#text-3 {
		float: left;
		width: 100%;
	}
}

#text-6 {
	position: relative;
	min-height: 1px;
	background: #fff;
	margin-bottom: 0;
	padding: 20px 15px 15px;
}

@media (min-width: 992px) {
	#text-6 {
		float: left;
		width: 100%;
	}
}

#text-6 .textwidget {
	margin-left: -15px;
	margin-right: -15px;
}

#text-6 .textwidget:before,#text-6 .textwidget:after {
	content: " ";
	display: table;
}

#text-6 .textwidget:after {
	clear: both;
}

#text-6 .textwidget .item {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}

@media (min-width: 992px) {
	#text-6 .textwidget .item {
		float: left;
		width: 25%;
	}
}

#text-6 .textwidget .item a {
	display: block;
	color: #4d4d4d;
}

#text-6 .textwidget .item a:hover {
	color: #f14334;
	text-decoration: none;
}

#text-6 .textwidget .item strong {
	font-size: 28px;
	font-weight: 800;
	display: block;
}

#text-6 .textwidget .item span {
	font-size: 15px;
	font-weight: 300;
	display: block;
}


#text-6 .textwidget .item.item-subscribe .icon {
	width: 65px;
	background-position: 0 0;
}

#text-6 .textwidget .item.item-subscribe:hover .icon {
	background-position: 0 -70px;
}

#text-6 .textwidget .item.item-sponsor .icon {
	width: 63px;
	background-position: -70px 0;
}

#text-6 .textwidget .item.item-sponsor:hover .icon {
	background-position: -70px -70px;
}

#text-6 .textwidget .item.item-schedule .icon {
	width: 65px;
	background-position: -140px 0;
}

#text-6 .textwidget .item.item-schedule:hover .icon {
	background-position: -140px -70px;
}

#text-6 .textwidget .item.item-location .icon {
	width: 59px;
	background-position: -208px 0;
}

#text-6 .textwidget .item.item-location:hover .icon {
	background-position: -208px -70px;
}

#colophon {
	margin-left: -15px;
	margin-right: -15px;
	padding-top: 40px;
	color: #fff;
}

#colophon:before,#colophon:after {
	content: " ";
	display: table;
}

#colophon:after {
	clear: both;
}

#colophon h2 {
	margin-bottom: 20px;
}

#colophon a {
	color: #fff;
	text-decoration: underline;
}

#colophon a:hover {
	color: #fff;
	text-decoration: none;
}

.site-info {
	position: relative;
	min-height: 1px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	padding: 10px 15px 60px;
}

@media (min-width: 992px) {
	.site-info {
		float: left;
		width: 100%;
	}
}

.site-info a {
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	display: inline-block;
	padding: 0 10px;
	text-decoration: none;
}

.site-info a:hover {
	color: #fff;
	text-decoration: underline;
}

input {
	font-size: 14px;
}

input[type="text"],input[type="email"],textarea {
	background: #fff;
	border: 1px solid #c5c5c5;
	padding: 10px !important;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 2px 0 #b2b2b2;
	box-shadow: inset 0 2px 0 #b2b2b2;
}

#respond .form-submit input,#respond .form-submit input#comment-submit,#respond .comment-form-fields input[type=submit],#respond p.form-submit input[type=submit],#respond input[type=submit],#commentform #submit,input[type="submit"] {
	background: none repeat scroll 0 0 #1b4158;
	border: 1px solid #606060;
	border-radius: 0;
	box-shadow: none !important;
	color: #fff;
	display: block;
	font-family: ubuntu;
	padding: 10px !important;
	text-shadow: none;
}

#respond .form-submit input:hover,#respond .form-submit input#comment-submit:hover,#respond .comment-form-fields input[type=submit]:hover,#respond p.form-submit input[type=submit]:hover,#respond input[type=submit]:hover,#commentform #submit:hover,input[type="submit"]:hover {
	background: #21759b;
	border-color: #14303E;
	text-decoration: underline;
}

.more-link,.button {
	display: block;
	color: #fff !important;
	padding: 10px 20px;
	text-decoration: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: #1c425a;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
}

.more-:hover,.button:hover {
	background: #21759b;
	text-decoration: underline;
	border-color: #606060;
	text-shadow: 0 1px 0 #444;
	-webkit-box-shadow: 0 4px 0 #4d4d4d;
	box-shadow: 0 4px 0 #4d4d4d;
}

.more-link {
	display: inline-block;
}

.ticket-button {
	text-transform: uppercase;
	text-align: center;
}

.ticket-button strong {
	font-size: 150%;
	display: block;
}

.ticket-button span {
	display: block;
}

.jetpack_subscription_widget input {
	width: 100% !important;
}

.contact-form label {
	font-size: 14px;
}

.wcorg-organizer h2,.speakers h2,.wcorg-organizer .speaker-name,.speakers .speaker-name {
	font-size: 18px;
	font-weight: 700;
	margin: 0 0 5px;
}

.wcorg-organizer .wcorg-organizer-description,.speakers .wcorg-organizer-description,.wcorg-organizer .speaker-bio,.speakers .speaker-bio {
	margin-bottom: 20px;
	padding-bottom: 20px;
	margin-top: 5px;
	border-bottom: 1px solid #ccc;
}

.wcorg-organizer .wcorg-organizer-description:before,.speakers .wcorg-organizer-description:before,.wcorg-organizer .speaker-bio:before,.speakers .speaker-bio:before,.wcorg-organizer .wcorg-organizer-description:after,.speakers .wcorg-organizer-description:after,.wcorg-organizer .speaker-bio:after,.speakers .speaker-bio:after {
	content: " ";
	display: table;
}

.wcorg-organizer .wcorg-organizer-description:after,.speakers .wcorg-organizer-description:after,.wcorg-organizer .speaker-bio:after,.speakers .speaker-bio:after {
	clear: both;
}

.wcorg-organizer .wcorg-organizer-description img,.speakers .wcorg-organizer-description img,.wcorg-organizer .speaker-bio img,.speakers .speaker-bio img {
	float: left;
	margin: 0 10px 2px 0;
	max-width: 128px;
}

.hentry + .speaker.hentry {
	margin-top: 0;
	padding-top: 0;
	border-top: none;
}

.avatar {
	border-radius: 100%;
}

.wcb_speaker .avatar {
	float: left;
	margin: 0 10px 10px 0;
}

.single-wcb_speaker .wcb_speaker .entry-meta,.entry-content.speaker-bio > .avatar {
	display: none;
}

.speaker-gravatar-list {
	border-bottom: 2px solid #4d4d4d;
	margin-bottom: 20px;
}

.speaker-gravatar-list a {
	width: 9%;
	display: inline-block;
	text-align: center;
	margin-bottom: 10px;
}

.speaker-gravatar-list p {
	margin: 0 0 20px;
}

.wcpt-schedule .wcpt-col-track {
	width: 50%;
}

.wcpt-schedule .wcpt-session-type-custom {
	background-color: #737373;
	color: #fff;
}

.wcpt-schedule .global-session .wcpt-session-type-custom,
.wcpt-schedule .global-session .wcpt-session-type-session {
	text-align: center;
}

.wcpt-schedule .wcpt-track-name {
	display: block;
	text-align: center;
}

.wcpt-schedule .wcpt-session-title {
	display: block;
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

.wcpt-schedule .wcpt-session-speakers {
	display: block;
	font-size: 80%;
}

.wcpt-schedule .wcpt-session-speakers a {
	color: #4d4d4d;
}

.wcpt-schedule tr:nth-child(even) {
	background-color: #ededed;
}


#tix {
	padding-top: 0 !important;
}

#fb-root {
	display: none;
}

.widget_facebook_likebox iframe,.fb_iframe_widget,.fb_iframe_widget span,.fb_iframe_widget span iframe[style] {
	width: 100% !important;
}

#content > .attachment-post-thumbnail {
	display: block;
	margin: 0 auto 20px;
	max-width: 100%;
	height: auto;
}

.entry-content .sponsor-level-title {
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
}

.entry-content .sponsors h3.entry-title {
	text-transform: inherit;
	font-weight: 300;
	font-size: 24px;
}

.entry-content .sponsors .type-wcb_sponsor {
	border-bottom: 1px solid #bbb;
}

h3.sponsor-title img {
	float: left;
	margin-right: 10px;
	margin-bottom: 15px;
}

div.sponsor-description {
	margin-top: 0;
}

.tggr-media-item {
	background: #fff;
}

.tggr-media-item:hover {
	background: #eee;
}

.tggr-media-item .tggr-author-avatar {
	max-width: 50px;
}

#footer-widgets {
	color: #e5e5e5;
	text-align: center;
}

@media (max-width: 991px) {
	.wcb_widget_sponsors .sponsor-level .sponsor-logo img {
		max-width: 100% !important;
	}
}

#tix-attendees li {
	list-style: none;
	padding-right: 10px;
}

.commentlist {
	list-style: none;
}

.commentlist .children {
	list-style: none;
}

.commentlist article.comment {
	border-bottom: 1px solid #ddd;
	padding: 20px 0;
	position: relative;
}

.commentlist .vcard img {
	position: absolute;
	left: -50px;
}

.commentlist .comment-meta,.commentlist .reply {
	font-family: 'Ubuntu', sans-serif;
	font-size: small;
	text-transform: uppercase;
}

.commentlist .comment-meta a,.commentlist .reply a {
	color: #9a9a9a;
}

.commentlist .comment-content {
	margin-top: 10px;
}

.entry-content iframe {
	width: 100%;
}


@media (max-width: 992px) {

	.wcb_widget_sponsors .sponsor-level .sponsor-logo img {
		float: left;
		margin: 20px 20px 10px 10px;
		max-width: 45% !important;
	}
}


@media (max-width: 600px) {
	.wcb_widget_sponsors .sponsor-level .sponsor-logo img {
		max-width: 75% !important;
	}
}


@media all and (-webkit-min-device-pixel-ratio : 1.5),
all and (-o-min-device-pixel-ratio: 3/2),
all and (min--moz-device-pixel-ratio: 1.5),
all and (min-device-pixel-ratio: 1.5) {

	#masthead .site-title a {
		background: url("https://seattle.wordcamp.org/2015-beginner/files/2015/08/title@2x.png") no-repeat scroll center center / 145px 66px rgba(0, 0, 0, 0);
		margin-right: 20px;
	}


	#masthead .site-description {
		background: url("https://seattle.wordcamp.org/2015-beginner/files/2015/08/description@2x.png") no-repeat scroll center center / 130px 64px rgba(0, 0, 0, 0);
	}

}

body.single-wcb_sponsor .entry-title{
	text-transform: none;
}